html{
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input{
  width: 100%;
  padding: 20px;
}

.search-form{
  max-width: 400px;
  margin: 50px auto;
}

.search{
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  position: relative;
  left: -10%;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions{
  position: relative;
  height: 380px;
  overflow-y: auto;
}

li{
	font-size: 20px;
  background-color: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.population{font-size: 15px}

.bright {background: #ffc600}