*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{background-color: black}
.clock{
	background-image: radial-gradient(farthest-corner at 40px 40px , #FF0000, #0000FF);
	position: absolute;
	top: 20%;
	left: 35%;
	height: 300px;
	width: 300px;
	border: 3px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hour,
.min,
.sec{
	position: absolute;
	height: 6px;
	border-radius: 10px;
	background-color: black;
	transform-origin: 100%;
	right: 50%;
}

.hour{width: 70px}
.min{width: 100px}
.sec{width: 130px}